<!--Userログイン画面-->
<div class="container py-5">
  <div class="row mx-auto">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6 form-area px-5">
          <h4 class="text-center title mt-5">Log in</h4>
            <%= form_with model: @user,url: user_session_path, local: true do |f| %>
            <% if flash[:alert] %>
              <p class="alert"><%= alert %></p>
            <% end %>
              <div class="field my-3">
                <%= f.label :'メールアドレス'%>
                <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
              </div>
              <div class="field my-3">
                <%= f.label :'パスワード' %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
              <!--ログイン後はマイページへ-->
              <div class="action action my-5">
                <%= f.submit "ログイン",class: "btn btn-outline-dark form-control" %>
              </div>
            <% end %>
          <div class="already text-center mb-5"><%= link_to "アカウントを新規登録する", new_user_registration_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>
