<!--投稿編集画面-->
<div class="container py-5">
  <h5>Edit MyPost</h5>
  <div class="row col-8 mx-auto py-3">
    <div class="col">
      <%= form_with model: @post_image, local: true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :'画像' %></td>
            <td><%= f.attachment_field :image, placeholder: "image" %></td>
          </tr>
          <tr>
            <td><%= f.label :'タイトル' %></td>
            <td><%= f.text_field :title, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :'投稿内容' %></td>
            <td><%= f.text_area :explain, class: "form-control" %></td>
          </tr>
          <tr>
            <td></td>
            <!--保存後は詳細画面に遷移-->
            <td><%= f.submit '変更を保存する', class: "btn btn-info" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>