<!--新規投稿画面-->
<div class="container py-5">
  <div class="row mx-auto">
     <div class="col">
       <div class="row justify-content-center">
         <div class="col-6 form-area px-auto">
          <h4 class="text-center title mt-5">New Post</h4>
            <%= form_with model: @post_image, local: true do |f| %>
            <%= render "layouts/error", model: f.object %>
              <div class="field my-3">
                <%= f.label :'タイトル' %>
                <%= f.text_field :title, placeholder:"タイトルを記入してください", class: "form-control" %>
              </div>
              <div class="field my-3">
                <%= f.label :'画像' %></br>
                <%= f.attachment_field :image %>
              </div>
              <div class="field my-3">
                <%= f.label :'投稿内容' %>
                <%= f.text_area :explain, rows:'5', placeholder:"投稿内容を記入してください", class: "form-control" %>
              </div>
              <div class="field my-3">
                <%= f.label :'タグ' %>
                <%= f.text_field :caption, placeholder:"(例)#パン", class: "form-control" %>
              </div>
              <!--投稿後は詳細ページに遷移-->
              <div class="action my-5">
                <%= f.submit '投稿する', class: "btn btn-outline-dark form-control" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>