<!--新規投稿画面-->
<div class="container py-5">
  <div class="row col-8 mx-auto">
    <div class="col">
      <h5>New Post</h5>
    </div>
  </div>
  <div class="row col-8 mx-auto py-3">
    <div class="col">
      <%= form_with model: @post_image, local: true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :'画像' %></td>
            <td><%= f.attachment_field :image, placeholder: "画像" %></td>
          </tr>
          <tr>
            <td><%= f.label :'タイトル' %></td>
            <td><%= f.text_field :title, class: "form-control col-6" %></td>
          </tr>
          <tr>
            <td><%= f.label :'投稿内容' %></td>
            <td><%= f.text_area :explain, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :'タグ' %></td>
            <td><%= f.text_field :caption, class: "form-control col-6" %></td>
          </tr>
          <tr>
            <td></td>
            <!--投稿後は詳細ページに遷移-->
            <td><%= f.submit '投稿する', class: "btn btn-info" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>