<!--投稿詳細画面-->
<div class="container py-5">
  <div class="row">
    <div class="col-2">
       <%= attachment_image_tag @post_image.user, :profile_image,:fill, 100,100, class: "rounded-circle" %>
    </div>
    <div class="col-3">
      <%= link_to user_path(@post_image.user.id) do %>
         <%= @post_image.user.account_name %>
       <% end %>
    </div>
    <div class="col-7 text-right">
      <% if @post_image.user == current_user %>
        <%= link_to edit_post_image_path(@post_image.id), class: "btn btn-info mx-3" do %>
          <span><i class="fas fa-edit"></i></span>
        <% end %>
        <%= link_to post_image_path(@post_image.id), method: :delete, class: "btn btn-info mx-3", data: { confirm: "本当に削除しますか？" } do %>
          <span><i class="fas fa-trash-alt"></i></span>
        <% end %>
      <% end %>
    </div>
  </div>
    <!--画面左半分-->
    <div class="row py-3">
      <div class="col-6">
        <%= attachment_image_tag @post_image, :image,:fill, 450,450, class: "rounded" %>
        <div id="post_image_<%= @post_image.id %>">
          <%= render "public/favorites/favorite", post_image: @post_image %>
        </div>
      </div>
      <!--画面右半分-->
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center"><%= @post_image.title %></h5>
                <p class="card-text text-center py-3"><%= @post_image.explain %></p>
              </div>
            </div>
          </div>
        </div>
        <!--コメント表示-->
        <div class="row py-3">
          <div class="col-12">
            <div class="comment-table_<%= @post_image.id %>">
              <%= render "public/comments/comment", post_image: @post_image %>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <div class="new-comment">
              <%= form_with(model: [@post_image, @comment], remote: true) do |f| %>
                <%= f.text_area :comment, rows:'3', class: "form-control" %>
                <%= f.submit 'コメントを投稿する', class: "btn btn-info my-2" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>