 <!--管理者側会員編集ページ-->
<div class="container">
  <h5>会員編集ページ</h5>
  <div class="row">
    <div class="col">
      <%= form_with model: @user, local: true do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>会員ID</td>
                <td><%= @user.id %></td>
              </tr>
              <tr>
                <td><%= f.label :'名前' %></td>
                <td><%= f.text_field :name, autocomplete: "name" %></td>
              </tr>
              <tr>
                <td><%= f.label :'アカウント名' %></td>
                <td><%= f.text_field :account_name, autocomplete: "account_name" %></td>
              </tr>
              <tr>
                <td><%= f.label :'メールアドレス' %></td>
                <td><%= f.email_field :email, autocomplete: "email" %></td>
              </tr>
              <tr>
                <td><%= f.label :'電話番号' %></td>
                <td><%= f.text_field :number, autocomplete: "number" %></td>
              </tr>
              <tr>
                <td><%= f.label :'自己紹介' %></td>
                <td><%= f.text_area :introduction, autocomplete: "introduction" %></td>
              </tr>
              <tr>
                <td><%= f.label :'ユーザーステータス' %></td>
                <td>
                  <%= f.radio_button :is_deleted, true %>
                  <%= f.label :is_deleted, '有効', value: true %>
                  <%= f.radio_button :is_deleted, false %>
                  <%= f.label :is_deleted, '退会', value: false %>
                </td>
              </tr>
              <tr>
                <td></td>
                <!--変更保存後は詳細ページに戻る-->
                <td><%= f.submit '変更を保存する', class: "btn btn-info" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
    </div>
  </div>
</div>