<!--管理者側User一覧画面-->
<div class="container py-5">
  <h5>会員一覧</h5>
  <div class="search">
    <%= form_with url: admin_searches_search_path, method: :get, local: true do |f| %>
    <%= f.select :range, options_for_select(["User"]) %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"],["部分一致","partial_match"]]) %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <% end %>
  </div>
  <div class="row py-3">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ユーザーステータス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user) do %>
              <%= user.account_name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted == 'Available' %>退会
              <% else %>有効
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>