<!--Mypage編集画面-->
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6 form-area px-5">
          <h4 class="text-center title mt-5">Profile edit</h4>
          <%= form_with model: @user, local: true do |f| %>
          <%= render "layouts/error", model: f.object %>
          <div class="field my-3">
            <%= f.label :'アカウント名' %>
            <%= f.text_field :account_name, autocomplete: "account_name", class: "form-control" %>
          </div>
          <div class="field my-3">
            <%= f.label :'メールアドレス' %>
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="field my-3">
            <%= f.label :'プロフィール画像' %></br>
            <%= f.attachment_field :profile_image %>
          </div>
          <div class="field my-3">
            <%= f.label :'自己紹介' %>
            <%= f.text_area :introduction, autocomplete: "introduction", class: "form-control" %>
          </div>
          <!--変更保存後はマイページ、退会するボタン押下後は退会確認画面へ-->
          <div class="action my-5">
            <%= f.submit '変更を保存する', class: "btn btn-outline-dark form-control" %>
            <%= link_to '退会する', user_unsubscribe_path(@user), class: "btn btn-outline-dark form-control mt-3" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
