<!--フォロー一覧ページ-->
<div class="container py-5">
  <div class="row col-8 mx-auto">
    <div class="col">
      <h5>Follows</h5>
    </div>
  </div>
    <% @users.each do |user| %>
    <div class="row col-8 mx-auto align-items-center py-2">
      <div class="col-3">
         <%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "rounded-circle" %>
      </div>
      <div class="col-3">
        <%= link_to user_path(user) do %>
          <%= user.account_name %>
        <% end %>
      </div>
      <div class="col-3">
        投稿数:<%= user.post_images.count %>
      </div>
      <% if current_user != user %>
      <div id="followbtn_<%= @user.id %>">
        <%= render "public/users/followbtn", user: @user, follow: @follow %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>