<!--User新規登録画面-->
<div class="container">
  <h5>アカウント登録</h5>
    <div class="row">
      <div class="col">
        <%= form_with model:@user,url:user_registration_path, id:'new_user', class: 'new_user', local: true do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><%= f.label :'名前' %></td>
                <td><%= f.text_field :name, autocomplete: "name" %></td>
              </tr>
              <tr>
                <td><%= f.label :'アカウント名' %></td>
                <td><%= f.text_field :account_name, autocomplete: "account_name" %></td>
              </tr>
              <tr>
                <td><%= f.label :'メールアドレス' %></td>
                <td><%= f.email_field :email, autocomplete: "email" %></td>
              </tr>
              <tr>
                <td><%= f.label :'電話番号' %></td>
                <td><%= f.text_field :number, autocomplete: "number" %></td>
              </tr>
              <tr>
                <td><%= f.label :'プロフィール画像' %></td>
                <td><%= f.attachment_field :profile_image, placeholder: "profile_image" %></td>
              </tr>
              <tr>
                <td><%= f.label :'自己紹介' %></td>
                <td><%= f.text_area :introduction, autocomplete: "introduction" %></td>
              </tr>
              <tr>
                <td>
                  <%= f.label :'パスワード' %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </td>
                <td><%= f.password_field :password, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td><%= f.label :'パスワード(確認用)' %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td></td>
                <!--新規登録後はマイページへ-->
                <td><%= f.submit '新規登録する', class: "btn btn-info" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <!--ログイン画面へ遷移-->
        <p class="text-center">すでにアカウント登録されている方は<%= link_to "こちら", new_user_session_path %>からログインしてください</p>
      </div>
    </div>
</div>